/*
Paola Ramos Mendes
03/07/2026
styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, section, article, aside {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #c8dbE3;
}

/* Style rules for mobile viewport */
section{ /*style rule for the section element*/
	background-color: #183440;
	color: #fff;
	margin-top: 4%;
	padding: 3%;
}
article{/*style rule for the article element*/
	margin-top: 1%;
	padding: 2%;
}
aside{/*style rule for the aside element*/
	background-color: rgba(24, 52, 64, 0.3);
	padding: 2%;
	margin-top: 1%;
	color: #183440;
	box-shadow: 4px 4px 10px #183440;
}

/* Style rule for header */
header {
	font-family: Verdana, Arial, sans-serif;
	margin-top: 0.2em;
	background-color: #183440;
	color: #fff;
	padding: 2%;
}

/* Style rules for nav area */
nav {
	background-color: #183440;
	padding: 0.5%;
}

nav li {
	display: inline;
}

nav li a {
	color: #fff;
	padding: 1% 3%;
	text-decoration: none;
}

/* Style rules for main content  */
main {
	padding: 1em;
	background-color: #fff;
}

footer {
	font-size: .70em;
	text-align: center;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 650px), print {
    .grid{ /*style rule for the grid class selector*/
		display: grid;
		grid-template-columns: 1fr 1fr; /*sets the grid template to two columns*/
		gap: 20px;
	}
	aside{ /*new style rule for aside element that creates one grid column that spans two columns*/
		grid-column: span 2; 
	}
	
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1024px), print {
	.grid{ /*new style rule for the grid class selector*/
		grid-template-columns: 1fr 1fr 1fr 1fr; /*sets grid template columns to four columns*/
	}
	aside{ /*new style rule for the aside element that creates one grid column that spans four columns*/
		grid-column: span 4;
	}
}
