/*
Paola Ramos Mendes
03/13/2026
styles.css
*/

/* CSS Reset */
body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #f4f9e1;
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}

/*Style rule for table*/
table{
	width: 80%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #71881b;
}
/*Table, row, header, and data cells*/
table, tr,th,td{
	border-collapse: collapse;
	padding: 2%;
}
/*Caption styling*/
caption{
	font-size: 2em;
	padding: 2%;
	margin-top: 2%;
}
/*Header and data cell borders*/
th,td{
	border: 1px solid #71881b;
}
/*Center text inside table data cells*/
td{
	text-align: center;
}
/*odd row backround color*/
tr:nth-child(odd){
	background-color: #d3e788;
}
